{% load static %}
<section class="available merriweather bg-dark py-5">
  <div class="container">
    <div class="row">
      <div class="card mb-3 bolder-0 rounded-0 bg-dark text-light">
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">BMW i8</h5>
              <p class="card-text">L'i8 est une voiture de sport coupé 2+2 hybride rechargeable de grand tourisme du constructeur automobile allemand BMW. Le concept-car BMW Vision Efficient Dynamics est présenté au salon de l'automobile de Francfort (IAA) 2009, et la version de série lors de l'édition 2013. Elle fait partie, avec les BMW i3 et BMW i5, de la gamme BMW i de BMW.</p>
              <p class="card-text"><a href="#" class="text-muted btn">Last updated 3 mins ago</a></p>
            </div>
          </div>
          <div class="col-md-6">
            <img src="{% static '/img/BMW_i8.jpg' %}" class="img-fluid rounded-start" alt="...">
          </div>
        </div>
      </div>  
      <div class="card my-5 bolder-0 rounded-0 bg-dark text-light">
        <div class="row">
          <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static '/img/car-g69.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static '/img/car-g344.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static '/img/car-g6e7.jpg' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Škoda Vision X</h5>
              <p class="card-text">Le Vision X est un hybride (léger) fonctionnant à l'essence ou au GNC (gaz naturel comprimé)5. Il est équipé d'un moteur 4-cylindres 1.5 TSI G-Tec de 130 ch et 250 N m entraînant le train avant, tandis qu'à l'arrière un moteur électrique de 21 kW officie pouvant atteindre 1 000 N m de couple4, l'ensemble associé à un réseau 48 volts pour une hybridation légère. Cette configuration lui permet de bénéficier d'une transmission intégrale. Il peut parcourir 2 km en électrique.

                Le SUV urbain est équipé d'un alterno-démarreur 48 volts situé entre la boîte de vitesses et le moteur thermique, procurant un boost au démarrage de 5 kW et 70 N m de couple supplémentaire..</p>
              <p class="card-text"><a href="#" class="text-muted btn">Last updated 3 mins ago</a></p>
            </div>
          </div>
        </div>
      </div>  
      <div class="card my-5 bolder-0 rounded-0 bg-dark text-light">
        <div class="row">
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Porsche 911 GT3</h5>
              <p class="card-text">La première version de la Porsche 911 GT3 a été présentée au salon automobile de Genève en 2022, où un modèle ClubSport Gris Glacier sans fioritures (pas de pack cuir, pas de climatisation) est présenté en parallèle à la 911 GT3 SuperCup. Elle est alors équipée d'un boxer 6 cylindres de 3,6 L de 360 ch DIN1.
                Un clip vidéo de promotion intitulé 911 GT3 Nürburgring Nordschleife: 7.56,33 min. présente les caractéristiques de la voiture tout en montrant Walter Röhrl boucler un tour en 7:56.33 sur la boucle Nord du Nürburgring. La GT3 sera alors considérée comme la première voiture de série à tomber sous les 8 minutes dans cet exercice.
                Elle est présentée dans le numéro 278 (mai 1999) du magazine de la marque, Christophorus.
                1 858 exemplaires de la 996 GT3 MKI sont produits, dont 308 avec conduite à droite. Ils sont assemblés au sein du département Motorsport à Weissach</p>
              <p class="card-text"><a href="#" class="text-muted btn">Last updated 3 mins ago</a></p>
            </div>
          </div>
          
          <div class="col-md-6">
                          <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static '/img/porsche-911.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static '/img/porsche-g3d.jpg' %}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="{% static '/img/porsche-gea.jpg' %}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
          </div>
        </div>
      </div>  
      <div class="card my-5 bolder-0 rounded-0 bg-dark text-light">
        <div class="row">
          <div class="col-md-6">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{% static '/img/mercedes-AMGE.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static '/img/mercedes-benz-AMG.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{% static '/img/auto-AMG.jpg' %}" class="d-block w-100" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">Mercedes-AMG GT</h5>
              <p class="card-text">La Mercedes-AMG GT est une voiture sportive produite par le constructeur automobile allemand Mercedes-AMG de 2014 à 2021. Il s'agit de la seconde voiture de sport développée complètement en interne après la Mercedes-Benz SLS AMG.
                La Mercedes-AMG GT existe en coupé et roadster deux portes à deux places, équipée d'un moteur V8 Bi-turbo de 4,0 litres dont la puissance évolue selon les versions.
                Ce modèle n'est plus produit à partir de décembre 2021</p>
              <p class="card-text"><a href="#" class="text-muted btn">Last updated 3 mins ago</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cs-menu py-5 merriweather ">
  <div class="container">
    <div class="row">
      <h3 class="text-center text-light merriweather" >Nos variétés</h3>
      <div class="card bg-transparent text-center mb-4">
        <div class="card-header redressed fs-4">
          <ul class="nav nav-tabs justify-content-center card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="true" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light " href="#">Disabled</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card">
          <img src="{% static '/img/BMW_i8_Roadster.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static '/img/porsche-g3d.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text ">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
      <div class="col d-xs-none d-md-block">
        <div class="card">
          <img src="{% static '/img/Skoda_Vision_X_Back_Genf_2018.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>
      <div class="col d-xs-none d-md-block">
        <div class="card">
          <img src="{% static '/img/Rolls-Royce/pexels-jay-pizzle-3764984.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body ">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cs-carousel merriweather bg-dark text-light text-center py-5">
  <div class="container text-capitalize py-3 redressed banner-desc">
    <div class="row">
      <h1 class="text-uppercase">Nos Models Disponibles</h1>
      <div class="col pb-4">
        Permettez nous de vous présenter Nos principaux models de luxe qui sont Disponibles sur le marchées et qui sont les plus recommenders par nos fidelles clients
      </div>
    </div>
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static '/img/florian-niaka-pékhé.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>dodge challenger demon</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static '/img/felix-janssen.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block text-black">
            <h5>maserati granturismo</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{% static '/img/agustin-segur.jpg' %}" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>ford mustang</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>

